/*==============清间距====================*/
body,h1,h2,h3,h4,h5,h6,a,img,input,ul,li,ol,dl,dt,dd{ padding:0; margin:0;}
ul,ol{ list-style:none;}
input{ outline:none}
/*==============全局样式====================*/
body{ font-size:12px; color:#3e3e3e; font-family:"微软雅黑"; background:#f7f7f7;width: 100%;}
/*==============超链接样式====================*/
a{ color:#909090; text-decoration:none;}
/* a:hover{ text-decoration: none; color:#f60;font-weight: none;} */
/*==============公共样式====================*/
.w{ width:100%; margin:0 auto;}
.l{ float:left;}
.r{ float:right}
/**************head***************/
#app{

    width: 100%;
    background-color:#fff;
}
#head{
    height: 100px;
    background-color:#fff;
    position:fixed;
    top: 0px;
    z-index: 10000;
}
#head .head-line{
    height: 100px;
}
#head .zhegai{
    width: 100%;
    position: absolute;
    top: 0;
    height: 0px;
    background:#f8f8f8;
    transition: opacity 1s linear
}
#head .next{
    font-size: 14px;
    text-align: center;
    height: 100px;
    line-height: 100px;
    color: black;
    padding: 0 42px;

}
#head .join{
    font-size: 14px;
    text-align: center;
    height: 100px;
    line-height: 100px;
    color: black;
}
#head .logo{
    background:url(http://hongqi.faw.cn/image/logo.png) no-repeat ;
    background-size: 100%;
    position: absolute;
    width: 93px;
    height: 75px;
    top:13px;
    left: 50%;
    margin-left: -46px;
}
#head .nav .next1{
    font-size: 16px;
    text-align: center;
    height: 100%;
    color: #000;
    height: 16px;
    padding: 0 42px;
    line-height: 100px;
}
#head .nav{
    width: 100%;
    display: flex;
    position: absolute;
    display: none;
    z-index: 1000;
}
#head .nav ul{
height: 100px;

    margin-left: 20px;
}

#head .nav li{
    float: left;
    position: relative;
    padding: 40px 0;
    height: 20px;
}
#head .nav li a{
    display: block;
    color: #666;
    font-size: 14px;
    padding: 0 30px;
    height: 20px;
    position: relative;
}
#head .more,#head .more1{
    background-color: #fff;
    position: absolute;
    left: -20px;
    top: 70px;
    display: none;
}
#head .more .aaa,#head .more1 .aaa{
    display: block;
    width: 120px;
    height: 40px;
    margin: 0 auto;
    line-height: 40px;
    font-size: 12px;
    color: #666;
    text-align: center;
    border-bottom: 1px solid #E7E7E7;
    transition: .2s ease;
}
.one{
    font-weight: 800;
}
/**********body************/
#body-news{
    width: 1200px;
    margin: 136px auto;
}
.news-l{
    padding-bottom: 45px;
    line-height: 1;
    color: #262626;
    font-size: 50px;
    border-bottom: 1px solid #E3E3E3;
    font-weight: bold;
}
.news-body{
    margin-top: 82px;
}
.news-body ul{
    margin: 0 -6px;
}
.news-more{
    width: 240px;
    height: 60px;
    background: #E60012;
    border-radius: 2px;
    margin: 70px auto;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-size: 18px;
    justify-content: center;
    cursor: pointer;
}
.news-more i{
    font-style: normal;
    margin-right: 11px;
    font-size: 24px;
    margin-bottom: 4px;
}